/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";

.background {
  background-color: #2C5282; // azul cielo oscuro
  min-height: 100vh;
  padding: 20px 0;
}



